{% extends 'base.html.twig' %}

{% block title %}New ProgrammeEmploiProjet{% endblock %}

{% block body %}
    <h1>Create new ProgrammeEmploiProjet</h1>

    {{ include('programme_emploi_projet/_form.html.twig') }}


{% endblock %}
