<p>Bonjour Mr/Mme {{ attestation.personnel.nom }} {{ attestation.personnel.prenom }}</p>

<p>Votre demande d'attestation N° {{ attestation.id }} a été {{ attestation.statut  == "1" ? 'Validé' : 'Refusé' }}</p>

<p>Cordialement</p>

<a href="https://app-ensat.uae.ac.ma/e-ensat/public/login">Accéder à la platforme E-ENSAT (Cliquer içi)</a>
