<!DOCTYPE html>
<html>
  <head>
    <title>Carte d'Etudiant</title>
    <meta charset="utf-8">
    <style type="text/css">

     body{
        background-color: #F5F5F5;
     }
    </style>
  </head>
  
  <body>
{% for i in 0..carteALL|length - 1 %}
    <table style="page-break-after:always">
      <tr class="row" style="">
            <div class="col-sm-12" >
              <label class="col-sm-8" style="float: left;padding-top: 40px;">
                <div class="col-sm-8">
                    <td style="font-weight: bold;font-size: 12px;color: #294a70;">
                      <div style="text-align: justify;text-justify: inter-word;">N ยบ INVENTAIRE : {{carteALL[i][1]|upper }}</div>
                    </td>
                </div>
              </label>
              
              <label class="col-sm-4" style="float: right;">
                <td  style="" class="col-sm-4">
                  <img  src="{{carteALL[i][0]}}" alt="QR code">
                </td>
              </label>                        
            </div>
      </tr>
    </table>
{% endfor %}
  </body>
  
</html>