<!DOCTYPE html>
<html>
  <head>
    <title>Carte d'Etudiant</title>
    <meta charset="utf-8">
    <style type="text/css">


     body{
        background-color: #F5F5F5;
     }
    </style>
  </head>
  <body>
    <div>
      <div class="row" style="">
            <div class="col-sm-12" >
              <label class="col-sm-8" style="float: left;padding-top: 40px;">
                <div class="col-sm-8">
                    <div style="font-weight: bold;font-size: 12px;color: #294a70;">
                      <div style="text-align: justify;text-justify: inter-word;">{{numinventaire|upper }}</div>
                    </div>
                </div>
              </label>
              
              <label class="col-sm-4" style="float: right;">
                <div  style="" class="col-sm-4">
                  <img  src="{{dataUri}}" alt="QR code">
                </div>
              </label>                        
            </div>
      </div>
    </div>

  </body>
  
</html>