Bonjour  . Mme/Mr {{ etat.idUser.nom }} {{ etat.idUser.prenom }},<br/><br/>
Merci de confirmer votre choix de filière sur <a href="https://app-ensat.uae.ac.ma/e-doc/public">la plateforme d'orientation</a>.;
<strong>Si vous ne confirmez pas votre choix depuis <a href="https://app-ensat.uae.ac.ma/e-doc/public"> la plateforme d'orientation</a> avant 18h00 le 10 Juillet 2024 , vous serez affecté aléatoirement.</strong>";
