<p>Bonjour Mr/Mme {{ personnel.nom }} {{ personnel.prenom }}</p>

<p> Votre compte de la plateforme E-ENSAT viens d'étre crée , vous trouverez ci-dessous vos coordonnées de connexion .</p>

<p> Login : {{ email }}   </p>
<p> Mot de Passe : {{ password }}  </p>

<p>Cordialement</p>

<a href="https://app-ensat.uae.ac.ma/e-ensat/public/login">Accéder à la platforme E-ENSAT (Cliquer içi)</a>
 