<form method="post" action="{{ path('app_histo_demandes_delete', {'id': histo_demande.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ histo_demande.id) }}">
    <button class="btn">Delete</button>
</form>
