{% extends 'base.html.twig' %}

{% block title %}Edit Engagement{% endblock %}

{% block body %}
    <h1>Edit Engagement</h1>

    {{ include('engagement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_engagement_index') }}">back to list</a>

    {{ include('engagement/_delete_form.html.twig') }}
{% endblock %}
