{% extends 'base.html.twig' %}

{% block title %}New Engagement{% endblock %}

{% block body %}
    <h1>Create new Engagement</h1>

    {{ include('engagement/_form.html.twig') }}

    <a href="{{ path('app_engagement_index') }}">back to list</a>
{% endblock %}
