                    
                        <div class="form-group col-sm-6">
                          <label for="reference" class="control-label">  {{'libelle'|trans}}</label>

                          <div>
                            {{ form_widget(form.libelle,{'attr': {'class':'form-control form_article'}}) }}
                          </div>
                        </div>

                       

                        <div class="form-group col-sm-6">
                          <label for="annee" class="control-label">  {{'annee'|trans}}</label>

                          <div>
                            {{ form_widget(form.annee,{'attr': {'class':'form-control form_article'}}) }}
                          </div>
                        </div>

                      

     
                      
                    

    

