<p>Bonjour Mr/Mme {{ nom }} {{ prenom }}</p>

<p> Votre compte Moodle de l'ENSA Tanger viens d'étre crée , vous trouverez ci-dessous vos coordonnées de connexion .</p>

<p> Login : {{ email }}   </p>
<p> Mot de Passe : {{ password }}  </p>

<p>Cordialement</p>

<a href="https://moodle-ensat.uae.ac.ma/">Accéder à la platforme Moodle ENSAT (Cliquer içi)</a>
 