<p>Bonjour Mr/Mme {{ etudiant.nom }} {{ etudiant.prenom }}</p>

<p> Votre compte de la plateforme E-DOC de l'ENSA Tanger viens d'étre crée , vous trouverez ci-dessous vos coordonnées de connexion .</p>

<p> Login : {{ email }}   </p>
<p> Mot de Passe : {{ password }}  </p>

<p>Cordialement</p>

<a href="https://app-ensat.uae.ac.ma/e-doc/public/login">Accéder à la platforme E-DOC (Cliquer içi)</a>
 