<!DOCTYPE HTML>
<html>
<meta charset="UTF-8" />
    <body>
        <div style="height:100px;">
           
            <div>
                <p style="text-align:center;font-size: 16px;font-family:Arial;">
                    {{details[0]["LIB_CMT_RVN"]}}<br/>
                </p>
            <div>
        </div>
    </body>
</html>