<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <script>
        function substitutePdfVariables() {

            function getParameterByName(name) {
                var match = RegExp('[?&]' + name + '=([^&]*)').exec(window.location.search);
                return match && decodeURIComponent(match[1].replace(/\+/g, ' '));
            }

            function substitute(name) {
                var value = getParameterByName(name);
                var elements = document.getElementsByClassName(name);

                for (var i = 0; elements && i < elements.length; i++) {
                    elements[i].textContent = value;
                }
            }

            ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection']
                .forEach(function(param) {
                    substitute(param);
                });
        }
    </script>
</head>
    <body onload="substitutePdfVariables()">
        <div style="height:220px;">
           
            <div style="border: 3px solid black;width:948px;height:70px">
    <table border="0" cellspacing=0 cellpadding=0 width=946>
        <tr>
            <td height=12 colspan=5></td>
            <td width=463 colspan=42 rowspan=3><font face="Arial"><b>&nbsp;&nbsp;Université Abdelmalek Essaâdi</b></font></td>
            <td></td>
            <td width=463 colspan=40 rowspan=3 align=right><font face="Arial"><b>جامعة عبد المالك السعدي &nbsp;&nbsp;</b></font></td>
            <td colspan=5></td>
        </tr>
        <tr>
            <td height=10 colspan=4></td>
            <td></td>
            <td colspan=5></td>
        </tr>
        <tr>
            <td height=10 colspan=4></td>
            <td></td>
            <td colspan=5></td>
        </tr>
        <tr>
            <td colspan=92 height=9></td>
        </tr>
        <tr valign=top>
            <td width=987 colspan=50 rowspan=2 align=center><font face="Arial"><b>Année universitaire   &nbsp;&nbsp;  {{details[0]["COD_ANU"]}}/{{(details[0]["COD_ANU"] + 1)}}&nbsp;&nbsp;    السنة الجامعية</b></font></td>
        </tr>
    </table>
</div>
<div style="margin-top:10px;width:948px;">
    <table border="0" cellspacing=0 cellpadding=0 width=946>
        <tr>
            <td height=12 colspan=5></td>
            <td width=463 colspan=42 rowspan=3><font face="Arial"><b> &nbsp;&nbsp;Ecole Nationale des Sciences Appliquées de Tanger</b></font></td>
            <td></td>
            <td width=463 colspan=40 rowspan=3 align=right><font face="Arial"><b>المدرسة الوطنية للعلوم التطبيقية بطنجة&nbsp;&nbsp;</b></font></td>
            <td colspan=5></td>
        </tr>
        
    </table>
</div>
<div style="margin-top:10px;width:770px;height:50px;line-height: 50px;margin-left:auto;font-family:Arial;">
    <span style="border: 2px solid black;height:50px;font-size: 30px;font-weight:bold;width:670px;padding:5px 20px 5px 20px;background-image:url('http://localhost/e-ensat/public/back.png');background-repeat: repeat;">
        RELEVE DE NOTES ET RESULTATS
    </span>
    <span style="width:100px;font-size: 18px;float:right">Page : <span class="page"></span> / <span class="topage"></span></span>
</div>
<div style="font-family:Arial;background-image:url('http://localhost/e-ensat/public/back.png');background-repeat: repeat;margin-top:5px;border: 1px solid black;height:32px;font-size: 28px;font-weight:bold;width:250px;text-align:center;line-height: 32px;margin-left:auto;margin-right:auto;">
    
        Session 1

</div>
        </div>
    </body>
</html>