{% extends 'template.html.twig' %}

{% block title %}{{'nv_etudiant'|trans}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
     
     <!--start content-->


      <!--breadcrumb-->
      <div class="page-breadcrumb d-none d-sm-flex align-items-center">
        <div class="ps-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
              <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt text-white"></i></a>
              </li>
          
            </ol>
          </nav>
        </div>
      
      </div>
      <!--end breadcrumb-->
    {{ include('scolarite/_form.html.twig') }}

 <!--end page main-->

     


  
{% endblock %}


     
     
     
     
     
     
     
     
     
     
     