<form method="post" action="{{ path('app_corps_delete', {'id': corps.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ corps.id) }}">
    <button class="btn">Delete</button>
</form>
