<form method="post" action="{{ path('app_convention_d_d_delete', {'id': convention_d_d.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ convention_d_d.id) }}">
    <button class="btn">Delete</button>
</form>
