
<p>Bonjour Mme/Mr {{ etudiant.nom }} {{ etudiant.prenom }}</p>

<p>Nous vous informons que votre requête a été {{ decision  == "1" ? 'Validé' : 'Refusé' }}</p>
{% if decision  == "1" %}
<p>
vous pouvez récupérer votre document au niveau du service des stages & coopération selon les créneaux horaires suivants :<br>
du lundi au vendredi de 9h30 à 13h00.
</p>
{% else %}
<p> {{ motif }}  </p> 
{% endif %}

<p>Cordialement</p>




